{% extends "layout.twig" %}

{% block assets %}
{% endblock %}

{% block content %}
<div id="content" class="container">
<div style="padding-top: 25px;padding-bottom: 25px;color: #373737;">
            <h1 id="main_heading">Experience</h1>
        </div>

    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-5">
        <h4>TownsWeb Archiving Ltd - <em>Senior Software Developer</em></h4>
        <p class="has-line-data" data-line-start="6" data-line-end="8"><em>August 2019 - Present</em><br>
Developing PastView, our Content Management System built to enable clients to maintain and monetize their digital archives. Leveraging AWS services such as S3, EC2, SQS, and Route53 to develop and maintain scalable infrastructure. Developing a wide range of bespoke client websites and managing our payment provider integrations.</p>
        <p>Working directly with clients and the business to both gain and provide a better understanding of requirements. Advocating PSR-2 &amp; PSR-4-compliant coding standards and documenting functional/technical specifications alongside testing processes.</p>
        <hr/>
        <h4>Sodexo UK - <em>Full Stack Developer</em></h4>
        <p><em>March 2017 - August 2019</em><br/><br/> Working in conjunction with web and Oracle teams to integrate various salary sacrifice and benefits &amp; rewards services under the Sodexo banner. Developing new, scalable platforms and building/maintaining SOAP and REST APIs for our services. Developing bespoke websites for large, corporate B2B campaigns and consumer programmes.</p>
        <p>Managing development and production web infrastructure, provisioning RHEL and CentOS servers, configuring firewalld, managing Apache, MySQL, MariaDB and PHP installations. Developing and maintaining our OutSystems enterprise platform applications and modules.</p>
        <hr/>
        <h4>Market Force Information Ltd - <em>Developer</em></h4>
        <p><em>March 2016 - March 2017</em><br/><br/> Working within a close team to develop our new client reporting platform - KnowledgeForce&trade;, and continued development of our RESTful API for our Android &amp; iOS apps - Eyes:On&trade;. Responsible for transferring knowledge and providing developer documentation, so staff can assist in migrations to KnowledgeForce&trade;.</p>
        <hr/>
        <h4>Market Force Information Ltd - <em>Junior Developer</em></h4>
        <p><em>June 2015 - March 2016</em><br/><br/> Developing bespoke reporting platforms suitable for a diverse range of business sectors and new, scalable technology platforms using Yii2 &ndash; a popular object-oriented MVC framework. Working in conjunction with Hack and Craft GmbH by developing the API backend for our iOS &amp; Android app, whilst documenting the API endpoints with Swagger.</p>
        <hr/>
        <h4>Fastbolt Distributors Ltd - <em>Systems Administrator</em></h4>
        <p><em>January 2012 &ndash; June 2015</em><br/><br/> Server configurations (CentOS, Windows Server 2003 &amp; 2008). Working in conjunction with HR Netzwerk to perform network management and system monitoring. SAP module development and customisation. Warehouse Management System implementation and integration with our existing SAP platform. Providing intensive support to Finance department due to in-depth knowledge of SAP FI CO processes.</p>
            <br><br>
        </div>
    </div>
</div>
{% endblock %}
