{% extends 'layout.twig' %}

{% block styles %}
{% endblock %}

{% block content %}
    <div class="row my-5">
        <div class="col-md-12">
            <h1>{{ greeting }}</h1>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}