<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="I'm Chris Rowles, a Software Developer based in Rushden, United Kingdom. Please get in touch for a free quote on your project, I would love to help!">
    <meta name="author" content="Chris Rowles">
    <meta property="og:title" content="Chris Rowles | Software Developer" />
    <meta property="og:description" content="I'm Chris Rowles, a Full Stack Developer based in Rushden, United Kingdom. Please get in touch for a free quote on your project, I would love to help!"
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.rowles.ch" />
    <meta name="csrf_token" content="{{ csrf_token }}">
    {# <base href="/"/> #}
    <link rel="shortcut icon" href="icons/favicon.ico">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" type="text/css">
    <link rel="stylesheet" href="/css/pure.css">
    <link rel="stylesheet" href="/css/styles.css">
    {% block assets %}{% endblock %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147973519-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-147973519-1');
    </script>
</head>
<body>
<div class="header">
    <div class="container clearfix">
        <a href="/"><div id="logo"> CR </div></a>
        
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/experience">Experience</a></li>
        </ul>

        <ul class="contact">
            <li><a href="https://www.twitter.com/_raekw0n"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://github.com/raekw0n"><i class="fab fa-github"></i></a></li>
            <li><a href="mailto:me@rowles.ch"><i class="fa fa-envelope"></i></a></li>
        </ul>
    </div>
</div>
<div class="clear-float"></div>

<div id="content-wrapper">
    {% block content %}

    {% endblock %}
</div>

<div id="footer">
    Made with <span class="love"></span> by CR
</div>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>
